html, body, * {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    overflow: hidden;
}


:root {
    --fiap-primary: #ed145b;
    --fiap-primary-dark: #ba0f47;
    --fiap-primary-darker: #8a0e37;
    --fiap-grey-400: #919191;
}
h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 4rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.rz-text-h1, .rz-text-h2, .rz-text-h3, .rz-text-h4, .rz-text-h5, .rz-text-h6,
.rz-text-body1, .rz-text-body2, .rz-text-caption {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.rz-button.rz-variant-outlined.rz-primary.rz-shade-default {
    color: var(--fiap-primary);
    border-color: var(--fiap-primary);
    box-shadow: inset 0 0 0 var(--rz-border-width) var(--fiap-primary);
    transition: 0.2s;
}

.rz-button.rz-variant-outlined.rz-primary:not(.rz-state-disabled):hover:not(:active),
.rz-button.rz-variant-outlined.rz-primary:not(.rz-state-disabled):focus-visible:not(:active),
.rz-button.rz-variant-outlined.rz-primary:not(.rz-state-disabled):active {
    background-color: unset;
    box-shadow: inset 0 0 0 var(--rz-border-width) var(--fiap-primary-dark);
    color: var(--fiap-primary-dark);
    transition: 0.2s;
}

.rz-datatable {
    border: 1px solid var(--fiap-primary);
    border-radius: 10px
}

.rz-datatable-thead th, .rz-grid-table thead th,
.rz-datatable-data td, .rz-grid-table td {
    border-bottom: 1px solid #3f3f3f;
}

.rz-datatable-thead th,
.rz-grid-table thead th,
.rz-datatable,
.rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(odd) > td {
    background-color: transparent;
}

.rz-grid-table-striped tbody > tr:not(.rz-expanded-row-content):nth-child(even) > td {
    background-color: #1f1f1f;
}

.rz-datatable-thead th .rz-column-title,
.rz-grid-table thead th .rz-column-title,
.rz-sortable-column .rzi-sort,
.rz-grid-filter-icon {
    color: var(--fiap-primary);
}

.rz-sortable-column > div:hover .rzi-sort:not(.rzi-sort-asc):not(.rzi-sort-desc),
.rz-grid-filter-icon:hover {
    color: var(--fiap-primary-darker);
}

.rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
    color: white;
}
.rz-paginator {
    height: 100px;
}
.rz-datatable-loading-content .rzi-circle-o-notch {
    color: white;
}

/*#region Dialog */
.rz-dialog-side-position-right {
    top: 0;
    background-color: #222427;
    overflow: hidden;
    animation: dialog-in 0.3s ease-out;    
}
.rz-dialog-side-titlebar-close:hover .rzi-times {
    color: var(--fiap-primary);
}
.rz-dialog-side-titlebar {
    background-color: #222427;
}
.rz-dialog-mask {
    animation: dialog-mask-in 0.3s ease-out;
}
@keyframes dialog-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}



@keyframes dialog-mask-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

/*#endregion */