@page "/"
@using TechChallenge1.Core.DTO

<PageTitle>Tech Challenge</PageTitle>

<main>
    <RadzenStack>
        <RadzenText Text="TechChallenge" TextStyle="TextStyle.H2" />
        <RadzenText Text="Fase 1 - Arquitetura de sistemas .Net com Azure" TextStyle="TextStyle.Body1"  />
        <RadzenDataGrid @ref=grid Data="Contacts" AllowFiltering=true AllowSorting=true PageSize="2">  
            <Columns>
                <RadzenDataGridColumn TItem="ContactDto" Property="Name" Title="Name" />
                <RadzenDataGridColumn TItem="ContactDto" Property="Email" Title="Email" />
                <RadzenDataGridColumn TItem="ContactDto" Property="Phone" Title="Phone" />
                <RadzenDataGridColumn TItem="ContactDto" Property="State" Title="State" />
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
</main>

@code {   
    private IEnumerable<ContactDto> Contacts { get; set; }
    private RadzenDataGrid<ContactDto> grid;

    protected override void OnInitialized()
    {
        Contacts = new List<ContactDto>()
        {
            new() { Name = "John Doe", Email = "jophn@mail.com", Phone = "31987654321", State = "Parana" },
            new() { Name = "Jane Doe", Email = "jane@mail.com", Phone = "41987654132", State = "São Paulo" },
            new() { Name = "June Doe", Email = "jine@mail.com", Phone = "11912345678", State = "Rio de Janeiro" },
            new() { Name = "Jan Doe", Email = "june@mail.com", Phone = "21999999999", State = "Minas Gerais" },            
        };
    }
}